.services {
  padding: 100px 0;
}

.services .container .page-top {
  
}

.services .container .page-top h2 {
}

.services .container .page-top p {
  line-height: 30.6px;
  text-align: justify;
}

.services .container .mid-heading {
  border-bottom: 1px solid #D8D8D8;
  display: flex;
  justify-content: center;
  margin: 100px 0;
}

.services .container .mid-heading h4 {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: -20px;
  background: white;
  display: inline;
  padding: 0 20px;
}

.services .container .row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.services .container .row .col-md-4 article {
  min-height: 200px;
  margin: 5px 20px;
  border-bottom: 1px solid #d9d9d9;
}

.services .container .row .col-md-4 article h3 {
  font-size: 22px;
  font-weight: 600;
  background-image: url("../../assets/arrow.png");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 12px;
  margin-bottom: 30px;
  margin-top: 10px;
}

.services .container .services-txt {
  padding-bottom: 50px;
}

.services .container .services-txt p {
  font-size: 1rem;
  line-height: 21.6px;
  padding: 7px 0;
}

.services .container .row {
  display: flex;
  flex-wrap: wrap;
  /* gap: 20px; */
}

.services .container .row .service-b-link {
  height: 70px;
  width: 93%;
  background-color: white;
  border: solid 1px var(--primary-color);
  border-radius: 0 10px 10px 0;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 10px;
  position: relative;
  margin: 15px 5px;
}

.services .container .row .service-b-link:hover {
  background: var(--primary-color);
  color: white;
}

.services .container .row .service-b-link::after {
  content: "";
  background-color: var(--primary-color);
  width: 50px;
  height: 80px;
  position: absolute;
  top: -5px;
  left: -5px;
  z-index: -1;
}

@media screen and (max-width: 769px) {
}
