.contact {
  padding: 50px 0;
}

.contact .container .row .office-address {
  width: 97%;
  margin: 0 auto;
  display: flex;
  gap: 50px;
  margin-bottom: 50px;
}

.contact .container .row .office-address .address {
  margin-top: 5px;
}

.contact .container .row .office-address .address h4 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 20px;
}

.contact .container .row .office-address .address a {
  text-decoration: none;
  color: var(--accent-color);
}

.contact .container .row .office-address .address a:hover {
  color: var(--primary-color);
}

/* .contact .container .row .contact-info {
  background: var(--primary-color);
  flex: 1;
  border-radius: 20px 0 0 20px;
  padding: 50px 30px;
}

.contact .container .row .contact-info .info-upper h5 {
  font-size: 32px;
  font-weight: 600;
  color: white;
  margin-bottom: 20px;
}

.contact .container .row .contact-info .info-upper p {
  font-size: 18px;
  font-weight: 400;
  color: white;
}

.contact .container .row .contact-info .info-bellow {
  margin-top: 30px;
}

.contact .container .row .contact-info .info-bellow .contact-channel {
  position: relative;
  margin: 40px 0;
  padding: 0 20px;
}

.contact .container .row .contact-info .info-bellow .contact-channel::before {
  content: "";
  background: white;
  position: absolute;
  border-radius: 10px;
  width: 3px;
  height: 105%;
  top: 0;
  left: 0px;
}

.contact
  .container
  .row
  .contact-info
  .info-bellow
  .contact-channel
  .channel-type {
  font-size: 0.875rem;
  font-weight: 300;
  color: white;
}

.contact
  .container
  .row
  .contact-info
  .info-bellow
  .contact-channel
  .channel-detail {
  margin-top: 10px;
}

.contact
  .container
  .row
  .contact-info
  .info-bellow
  .contact-channel
  .channel-detail
  .details {
  list-style: none;
}

.contact
  .container
  .row
  .contact-info
  .info-bellow
  .contact-channel
  .channel-detail
  .details
  .detail-item {
  color: white;
  font-size: 1rem;
  margin: 5px 0;
}

.contact
  .container
  .row
  .contact-info
  .info-bellow
  .contact-channel
  .social-detail {
  margin-top: 15px;
}

.contact
  .container
  .row
  .contact-info
  .info-bellow
  .contact-channel
  .social-detail
  .social-detail-menu {
  display: flex;
  list-style: none;
}

.contact
  .container
  .row
  .contact-info
  .info-bellow
  .contact-channel
  .social-detail
  .social-detail-menu
  .social-detail-menu-item
  a {
  font-size: 24px;
  color: white;
  text-decoration: none;
  padding-right: 15px;
}

.contact
  .container
  .row
  .contact-info
  .info-bellow
  .contact-channel
  .social-detail
  .social-detail-menu
  .social-detail-menu-item
  a:hover {
  color: var(--accent-color);
} */

.contact .container .row .message-us {
  /* background: #edfbf9; */
  flex: 1;
  border-radius: 0 20px 20px 0;
  padding: 50px 30px;
}

.contact .container .row .message-us h5 {
  font-size: 42px;
  font-weight: 600;
  color: black;
  margin-bottom: 20px;
}

.contact .container .row .message-us p {
  font-size: 18px;
  font-weight: 400;
  color: black;
  line-height: 35px;
}

/* .contact .container .row .message-us form {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  font-family: "Open Sans", sans-serif;
}

.contact .container .row .message-us form input {
  height: 45px;
  border: 1px solid #385b6f;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 10px;
  font-family: "Open Sans", sans-serif;
  color: #999cab;
  font-size: 1rem;
}

.contact .container .row .message-us form textarea {
  border: 1px solid #385b6f;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 10px;
  font-family: "Open Sans", sans-serif;
  color: #999cab;
  font-size: 1rem;
}

.map-box {
  width: 100%;
  height: 50vh;
} */

@media screen and (max-width: 769px) {
  .contact .container .row {
    flex-direction: column;
  }

  .contact .container .row .contact-info {
    border-radius: 20px 20px 0 0;
  }

  .contact .container .row .message-us {
    border-radius: 0 0 20px 20px;
  }
}
