.contact {
  padding: 50px 0;
}

.contact .contact-top {
  display: flex;
}

.contact .contact-top .contact-top-left {
  width: 100%;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 128, 0.83),
      rgba(0, 0, 128, 0.83)
    ),
    url(../../assets/change-management.jpg);
  background-size: cover;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.contact .contact-top .contact-top-left .message-us {
  /* background: #edfbf9; */
  flex: 1;
  border-radius: 0 20px 20px 0;
  padding: 50px 30px;
}

.contact .contact-top .contact-top-left .message-us h5 {
  font-size: 42px;
  font-weight: 600;
  color: white;
  margin-bottom: 20px;
}

.contact .contact-top .contact-top-left .message-us p {
  font-size: 18px;
  font-weight: 400;
  color: white;
  line-height: 35px;
}

.contact .contact-top .contact-top-right {
  width: 50%;
  /* min-height: 80vh; */
}

.contact .container .row .contanct-detials {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  padding-top: 70px;
}

.contact .container .row .contanct-detials .contact-detail {
  width: 48%;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin-bottom: 20px;
}

.contact .container .row .contanct-detials .contact-detail .contact-image {
  height: 340px;
  background-size: cover;
  border-radius: 4px 4px 0 0;
  background-repeat: no-repeat;
  background-position: center;
}

.contact .container .row .contanct-detials .contact-detail .lagos {
  background-image: url(../../assets/tinubu_Square_Lagos_Nigeria.jpg);
}

.contact .container .row .contanct-detials .contact-detail .london {
  background-image: url(../../assets/trafalgar-Square.jpg);
}

.contact .container .row .contanct-detials .contact-detail .texas {
  background-image: url(../../assets/addison-cir-texas.jpg);
}

.contact .container .row .contanct-detials .contact-detail .detail {
  /* margin-top: 45px; */
  padding: 50px;
}

.contact .container .row .contanct-detials .contact-detail .detail h3 {
  font-size: 24px;
  line-height: 34px;
}

.contact .container .row .contanct-detials .contact-detail .detail p {
  color: #585852;
  line-height: 26px;
  width: 100%;
}

.contact .container .row .office-address {
  width: 97%;
  margin: 0 auto;
  display: flex;
  gap: 20px;
  margin-bottom: 50px;
}

.contact .container .row .office-address .address {
  margin-top: 5px;
}

.contact .container .row .office-address .address h4 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 20px;
}

.contact .container .row .office-address .address a {
  text-decoration: none;
  color: var(--accent-color);
}

.contact .container .row .office-address .address a:hover {
  color: var(--primary-color);
}

/* .contact .container .row .contact-info {
  background: var(--primary-color);
  flex: 1;
  border-radius: 20px 0 0 20px;
  padding: 50px 30px;
}

.contact .container .row .contact-info .info-upper h5 {
  font-size: 32px;
  font-weight: 600;
  color: white;
  margin-bottom: 20px;
}

.contact .container .row .contact-info .info-upper p {
  font-size: 18px;
  font-weight: 400;
  color: white;
}

.contact .container .row .contact-info .info-bellow {
  margin-top: 30px;
}

.contact .container .row .contact-info .info-bellow .contact-channel {
  position: relative;
  margin: 40px 0;
  padding: 0 20px;
}

.contact .container .row .contact-info .info-bellow .contact-channel::before {
  content: "";
  background: white;
  position: absolute;
  border-radius: 10px;
  width: 3px;
  height: 105%;
  top: 0;
  left: 0px;
}

.contact
  .container
  .row
  .contact-info
  .info-bellow
  .contact-channel
  .channel-type {
  font-size: 0.875rem;
  font-weight: 300;
  color: white;
}

.contact
  .container
  .row
  .contact-info
  .info-bellow
  .contact-channel
  .channel-detail {
  margin-top: 10px;
}

.contact
  .container
  .row
  .contact-info
  .info-bellow
  .contact-channel
  .channel-detail
  .details {
  list-style: none;
}

.contact
  .container
  .row
  .contact-info
  .info-bellow
  .contact-channel
  .channel-detail
  .details
  .detail-item {
  color: white;
  font-size: 1rem;
  margin: 5px 0;
}

.contact
  .container
  .row
  .contact-info
  .info-bellow
  .contact-channel
  .social-detail {
  margin-top: 15px;
}

.contact
  .container
  .row
  .contact-info
  .info-bellow
  .contact-channel
  .social-detail
  .social-detail-menu {
  display: flex;
  list-style: none;
}

.contact
  .container
  .row
  .contact-info
  .info-bellow
  .contact-channel
  .social-detail
  .social-detail-menu
  .social-detail-menu-item
  a {
  font-size: 24px;
  color: white;
  text-decoration: none;
  padding-right: 15px;
}

.contact
  .container
  .row
  .contact-info
  .info-bellow
  .contact-channel
  .social-detail
  .social-detail-menu
  .social-detail-menu-item
  a:hover {
  color: var(--accent-color);
} */

.contact .container .row .message-us {
  /* background: #edfbf9; */
  flex: 1;
  border-radius: 0 20px 20px 0;
  padding: 50px 30px;
}

.contact .container .row .message-us h5 {
  font-size: 42px;
  font-weight: 600;
  color: black;
  margin-bottom: 20px;
}

.contact .container .row .message-us p {
  font-size: 18px;
  font-weight: 400;
  color: black;
  line-height: 35px;
}

.contact .container .row .request-box {
  background-color: var(--primary-color);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.contact .container .row .request-box .request-box-inner {
  width: 70%;
  padding: 50px;
}

.contact .container .row .request-box .request-box-inner h5 {
  font-size: 42px;
  font-weight: 600;
  color: white;
  margin-bottom: 20px;
}

.contact .container .row .request-box .request-box-inner p {
  font-size: 18px;
  font-weight: 400;
  color: white;
  line-height: 35px;
}

.contact .container .row .request-box .request-box-inner form {
  width: 100% !important;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  font-family: "Open Sans", sans-serif;
}

.contact .container .row .request-box .request-box-inner form input {
  height: 45px;
  border: 1px solid #385b6f;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 10px;
  font-family: "Open Sans", sans-serif;
  color: #999cab;
  font-size: 1rem;
}

.contact .container .row .request-box .request-box-inner form textarea {
  border: 1px solid #385b6f;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 10px;
  font-family: "Open Sans", sans-serif;
  color: #999cab;
  font-size: 1rem;
}

/*.map-box {
  width: 100%;
  height: 50vh;
} */

@media screen and (max-width: 769px) {
  .contact .contact-top {
  flex-direction: column;
}

.contact .contact-top .contact-top-left {
  width: 100%;
}

.contact .contact-top .contact-top-right {
  width: 100%;
}


.contact .container .row .contanct-detials {
  flex-direction: column;
}

.contact .container .row .contanct-detials .contact-detail {
  width: 100%;
}
  .contact .container .row {
    flex-direction: column;
  }

  .contact .container .row .contact-info {
    border-radius: 20px 20px 0 0;
  }

  .contact .container .row .message-us {
    border-radius: 0 0 20px 20px;
  }

  .contact .container .row .office-address {
    flex-direction: column;
  }

  .contact .container .row .request-box .request-box-inner {
    width: 100%;
    padding: 50px 15px;
  }

  .contact .container .row .request-box .request-box-inner h5 {
    font-size: 32px;
  }
}
