.our-work {
  background: #e2ecfc;
  padding: 100px 0;
}

/* .our-work .container .our-work-top {

} */

.our-work .container .our-work-top p {
  font-size: 18px;
}

.our-work .container .our-work-bottom {
  margin-top: 50px;
}

.our-work .container .our-work-bottom .card {
  width: 410px;
  height: fit-content;
  /* border: 2px solid transparent; */
  border-radius: 20px;
  position: relative;
  z-index: 10;
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.our-work .container .our-work-bottom .card::before {
  content: "";
  width: 40%;
  height: 40%;
  position: absolute;
  background: var(--primary-color);
  border-radius: 20px 0;
  top: -5px;
  left: -5px;
  z-index: -1;
}

.our-work .container .our-work-bottom .card::after {
  content: "";
  width: 40%;
  height: 40%;
  position: absolute;
  background: var(--primary-color);
  border-radius: 20px 0;
  bottom: -5px;
  right: -5px;
  z-index: -1;
}

.our-work .container .our-work-bottom .card .portfolio-image {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  overflow: hidden;
}

.our-work .container .our-work-bottom .card .portfolio-image img {
  width: 100%;
}

.our-work .container .our-work-bottom .card .portfolio-image .overlay {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background: #008ec0;
  opacity: 0.95;
  z-index: 2;
  /* display: none; */
  transition: 0.3s ease-in-out;
}

.our-work .container .our-work-bottom .card .portfolio-image h5 {
  font-size: 28px;
  font-weight: 300;
  text-align: center;
  position: absolute;
  top: 109%;
  left: 0;
  right: 0;
  margin: auto;
  transform: translateY(-50%);
  padding: 10px;
  z-index: 2;
  color: white;
  transition: all 0.3s;
}

.our-work .container .our-work-bottom .card:hover .portfolio-image .overlay {
  top: 70%;
}

.our-work .container .our-work-bottom .card:hover::before {
  width: 103%;
  height: 103.5%;
  border-radius: 20px;
}

.our-work .container .our-work-bottom .card:hover::after {
  width: 103.5%;
  height: 103.5%;
  border-radius: 20px;
}

.our-work .container .our-work-bottom .card:hover .portfolio-image h5 {
  top: 85%;
}

@medea (hover: none) {
  .our-work .container .our-work-bottom .card .portfolio-image h5 {
    top: 80%;
  }
}

@media only screen and (max-width: 769px) {
  .our-work .container .our-work-bottom .card .portfolio-image h5 {
    font-size: 26px;
  }
}
