@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #2B25AF;
  --accent-color: #47DCC6;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #1E1E1E;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.btn {
  font-size: 1.25rem;
  font-weight: 600;
  padding: 17px 47px;
  border: 1px solid transparent;
  border-radius: 5px;
  background: white;
}

.btn-primary {
  color: var(--primry-color);
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: var(--primary-color);
  border: 1px solid white;
  color: white;
}

.btn-secondary {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  cursor: pointer;
}

.btn-secondary:hover {
  background: var(--primary-color);
  color: white;
  border: 1px solid transparent;

}

.h2-title {
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 30px;
}

@media only screen and (max-width: 600px) {
    .container {
      width: 95%;
    }

    .btn {
      font-size: 1rem;
  padding: 10px 25px;
    }

    .h2-title {
      font-size: 38px;
    }
}