@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #2b25af;
  --accent-color: #47dcc6;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #1e1e1e;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.btn {
  font-size: 1.25rem;
  font-weight: 600;
  padding: 17px 47px;
  border: 1px solid transparent;
  border-radius: 5px;
  background: white;
}

.btn-primary {
  color: var(--primry-color);
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: var(--primary-color);
  border: 1px solid white;
  color: white;
}

.btn-secondary {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  cursor: pointer;
}

.btn-secondary:hover {
  background: var(--primary-color);
  color: white;
  border: 1px solid transparent;
}

.btn-thirtialry {
  background: var(--primary-color);
  color: white;
  border: 1px solid transparent;
}

.btn-thirtialry:hover {
  color: var(--primary-color);
  background: white;
  border: 1px solid var(--primary-color);
}

.h2-title {
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 30px;
  width: 100%;
}

.col-md-2 {
  width: 50%;
}

.col-md-3 {
  width: 25%;
}

.col-md-4 {
  width: 33.33%;
}

.mt-50 {
  margin-top: 100px;
}

@media only screen and (max-width: 769px) {
  .container {
    width: 95%;
  }

  .h2-title {
    width: 100%;
  }

  .btn {
    font-size: 1rem;
    padding: 10px 25px;
  }

  .h2-title {
    font-size: 38px;
  }

  .col-sm {
    width: 100%;
  }

  .col-md-2 {
    width: 100%;
  }

  .col-md-3 {
    width: 50%;
  }

  .col-sm-2 {
    width: 100%;
  }

  .col-md-4 {
    width: 100%;
  }
}
